# NFC-e / SEFAZ. Nunca versionar certificado ou senha reais.
FISCAL_AMBIENTE=homologacao
NFCE_SERIE=1
NFCE_PROVIDER_URL=https://seu-provedor-fiscal.example/nfce
NFCE_PROVIDER_TOKEN=
NFCE_CNPJ=
NFCE_IE=
NFCE_RAZAO_SOCIAL=
NFCE_ENDERECO_LOGRADOURO=
NFCE_ENDERECO_NUMERO=
NFCE_ENDERECO_BAIRRO=
NFCE_ENDERECO_MUNICIPIO=
NFCE_ENDERECO_UF=SP
NFCE_ENDERECO_CEP=
NFCE_CERTIFICATE_PFX_BASE64=
NFCE_CERTIFICATE_PASSWORD=
# Opcional para alertar antes do vencimento.
NFCE_CERTIFICATE_EXPIRES_AT=
