# NFC-E Configuration (TecnoSpeed/PlugNotas)
NFCE_CNPJ="12345678000199"
NFCE_IE="123456789"
NFCE_RAZAO_SOCIAL="Nome da Empresa LTDA"
NFCE_TIPO_CONTRIBUINTE="normal"  # normal, mei, simples
NFCE_ENDERECO_LOGRADOURO="Avenida das Flores, 123"
NFCE_ENDERECO_NUMERO="45"
NFCE_ENDERECO_BAIRRO="Centro"
NFCE_ENDERECO_MUNICIPIO="São Paulo"
NFCE_ENDERECO_UF="SP"
NFCE_ENDERECO_CEP="01001-000"
NFCE_SERIE="1"
NFCE_PROVIDER_URL="https://api.plugnotas.com.br/v1/nfe"
NFCE_PROVIDER_TOKEN="your_api_key_here"
NFCE_CERTIFICATE_PFX_BASE64="base64_encoded_certificate"
NFCE_CERTIFICATE_PASSWORD="cert_password"
NFCE_CERTIFICATE_EXPIRES_AT="2026-12-31"